<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Some statics</title>
    <style>
        h1 {
            color: orange;
        }

        img {
            width: 250px;
        }
    </style>
</head>
<body>
    {{>header}}
    
    <img src="https://static.onecms.io/wp-content/uploads/sites/24/2019/01/GettyImages-892959344.jpg" />
    {{>footer}}

</body>
</html>